torch
torchvision
pytorch-metric-learning
numpy
scikit-learn
tqdm
av
Pillow
matplotlib
omegaconf
diffusers==0.27.2
transformers==4.26.1
accelerate==0.28.0
huggingface-hub==0.25.2
safetensors
einops
opencv-python
mediapipe
protobuf==4.25.8
insightface
onnxruntime-gpu
audio-separator
librosa
soundfile
moviepy<2.0
xformers
